.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}
@media (max-width: 880px) {
  .header__links {
    font-size: 14px;
  }
}
