.auth {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  min-width: 358px;
}

@media (max-width: 880px) {
  .auth {
    padding: 0;
    min-width: 260px;
  }
}

